.button {
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: transparent;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.button:hover {
  cursor: pointer;
}

%purple {
  background-color: #5445FF;
  color: #fff;
}

.default {
  border: 1px solid #E8E8E8;
}

.standard {
  padding-right: 16px;
}

.wide {
  width: 100%;
  @extend %purple;
}

.primary {
  @extend %purple;
}