.card {
  border-radius: 20px;
  padding: 25px 25px 40px 25px;
  box-sizing: border-box;
  background-color: #fff;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header-info-column {

  .description {
    margin-bottom: 5px;
  }
}