@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "./_variables.scss";


* {
  font-family: $fontFamily;
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  height: 100vh;
  display: grid;
  place-items: center;
}

#modal {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-25 {
  margin-bottom: 25px;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.w-138 {
  width: 138px;
}

.pr-8 {
  padding-right: 8px;
}

li {
  list-style-type: none;
}

