.ViewSchedule {

}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;
}

.title {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.bodyHeader{
  display: flex;
  gap: 12px;
}

.img {
}