@import "../../styles/_variables.scss";


.SelectData {
  border: 1px solid #E8E8E8;
  border-radius: 12px;
  display: flex;
  padding: 8px 16px 8px 8px;
  gap: 8px;
  background: $white;
  max-height: 36px;

}

.InputMask {
  width: 80px;
  border: none;
  outline: none;
}






